<p id="notice"><%= notice %></p>

<p>
  <strong>Colorname:</strong>
  <%= @master_color.colorname %>
</p>

<%= link_to 'Edit', edit_master_color_path(@master_color) %> |
<%= link_to 'Back', master_colors_path %>
