<p id="notice"><%= notice %></p>

<p>
  <strong>Colorname:</strong>
  <%= @color.colorname %>
</p>

<%= link_to 'Edit', edit_smaster_color_path(@color) %> |
<%= link_to 'Back', smaster_colors_path %>
