<p id="notice"><%= notice %></p>

<p>
  <strong>Suitpart:</strong>
  <%= @master_part.suitpart %>
</p>

<%= link_to 'Edit', edit_master_part_path(@master_part) %> |
<%= link_to 'Back', master_parts_path %>
