<h1>Editing Manufacturing Knitting</h1>

<%= render 'form', manufacturing_knitting: @manufacturing_knitting %>

<%= link_to 'Show', @manufacturing_knitting %> |
<%= link_to 'Back', manufacturing_knittings_path %>
